<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/jpaContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<!-- <init-param> <param-name>webAllowOthers</param-name> <param-value></param-value> 
			</init-param> <init-param> <param-name>trace</param-name> <param-value></param-value> 
			</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fitTrackerServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet-config.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>fitTrackerServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fitTrackerServlet</servlet-name>
		<url-pattern>/pdfs/**</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fitTrackerServlet</servlet-name>
		<url-pattern>/images/**</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fitTrackerServlet</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<display-name>Archetype Created Web Application</display-name>
</web-app>
